
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



div.nav {
    width:1280px;
    height: 50px;
    background-color: #333;
    text-align: center;
    border-top: thick double #a24b5b;
}
div.nav_center{
    color:white;
    border: aqua;
    padding-top: 10px;
    width:427px;
    margin: 0 auto;

}
.image_container{
    width:1280px;
    height: 325px;
    overflow: hidden;
    postition:relative;
    text-align: center;


}
.image_container img{
    margin: -460px 0px 0px 0px;
    width:1280px;

}
.image_words {
    color:black;
    position:absolute;
    color:white;
    font-size: xx-large;
    top: 200px;
    left: 450px;
}
.visiting-cites {
    height: 700px;
    width:1280px;
    background-color:#23242b;
    position:relative;
    display:flex;
    box-sizing: border-box;
    padding:50px 150px;
}
.pic_with_words{
    height:360px;
    margin:auto;
    overflow: hidden;
    color:white;
    padding:15px;
    background-color: #10111a;
    width:275px;


}
.pic_with_words img {
    object-fit: cover;
    width: 275px;
    height: 150px;
}

.pic_with_words div{
    font-size: medium;
}
.dt_container{
    height: 500px;
    width: 1280px;
    display:flex;
    box-sizing: border-box;
    padding: 0px 200px;

    background-color: #12131d;
}
.dt_block{
    height:233px;
    width:400px;
    color: white;
    margin:auto;
    text-align:justify;
    font-size: small;
}
.dt_block img {
    object-fit: cover;
    width: 400px;
    height: 233px;
}
.inline_block{
    height: 700px;
    width: 1280px;
    background-color:#23242b ;
}
